/* TODO Add site wide styles */
body {
    background-color: gainsboro;
}

a, a:hover {
    color: black;
    text-decoration: none;
}

.hidden {
    display: none;
}

.divider {
    height: 55px;
}

.carousel {
    height: 480px;
}

.carousel > img {
    object-fit: cover;
}

.carousel-indicators {
    background-color: pink;
}
