/* TODO Add site wide styles */
body {
    background-color: gainsboro;
}

.hidden {
    display: none;
}

.divider {
    height: 55px;
}

.carousel {
    height: 480px;
}

.carousel > img {
    object-fit: cover;
}

.carousel-indicators {
    background-color: pink;
}
