.game-card {
    position: relative;
    margin: 0px 0px 24px 24px;
    width: 255px;
    height: 200px;
    object-fit: contain;
    background-color: whitesmoke;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.game-card:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.game-card__pic {
    background-size: cover;
    background-position: center;
    height: 115px;
}

.game-card__info,
.game-card__info-hovered {
    height: 85px;
    padding: 38px 16px 0px 16px;
    display: flex;
}

.game-card__info {
    justify-content: space-between;
}

.game-card__info-hovered {
    justify-content: flex-end;
}

.game-card__title {
    font-size: 14px;
    position: absolute;
    max-width: 255px;
    overflow-wrap: normal;
    padding: 8px 16px 0px 16px;
}

.game-card__os {
    margin: auto 0;
}

.game-card__buyblock {
    margin: auto 0;
    display: flex;
}

.game-card__buyblock-button {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 160px;
    right: 10px;
}

.game-card__buyblock-price {
    text-align: right;
    line-height: .9rem;
    height: 30px;
}

.game-card__pricetag,
.game-card__pricetag--sale {
    margin-bottom: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}

.game-card__saletag {
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 6px;
    background-color: purple;
    margin-right: 10px;
}

.game-card__flag {
    position: absolute;
    font-size: 10px;
    padding: 3px 10px;
    top: 103px;
    color: white;
    text-align: center;
}

.game-card__flag.library > span,
.game-card__flag.cart > span {
    margin-left: 7px;
}

.game-card__flag.cart {
    background-color: mediumturquoise;
    width: 90px;
    border-radius: 0 3px 3px 0;
}
.game-card__flag.library {
    background-color: goldenrod;
    width: 100px;
    border-radius: 0 3px 3px 0;
}
