.game-page__banner {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(126,126,126,0) 25%);
  height: 650px;
  background-position: center;
  background-size: cover;
}

.game-page__buy-block {
  background-color: whitesmoke;
  position: absolute;
  padding: 15px;
  width: 430px;
  height: 190px;
  top: 575px;
  right: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-page__info {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 115px;
}

.screenshots {
  height: 150px;
  margin: 30px 0px;
}

.desc-details {
  display: flex;
  flex-direction: row;
}

.game-page__info.description {
  width: 60%;
  margin-right: 30px;
}

.game-page__info.details {
  width: 40%;
}

.details__genres,
.details__features,
.details__genres > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.details__features > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.details > div > span {
  width: 150px;
}

.details > div > ul> li {
  padding: 0px;
  margin-left: 10px;
}
