.store-container {
    /* background-color: lavender; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.store-container__left > ul {
    list-style: none;
    padding: 0px;
}

.store-container__right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.store__pagination {
    grid-column: 1 / 4 ;
    margin: auto;
}
